::selection {
  background: #FF5E99;
}


/* Meron na akong reset na separate
 /* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}  */





body {

  /* font-size: 1.2vw;   remove muna to have it updated thanks to https://css-tricks.com/snippets/css/fluid-typography/ */
  font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Quango',Lucida Console,Inconsolata, monospace;
  color: white;
  background-color: #300A24;
  font-weight: bolder;
  line-height: 1.4;

}

.embed-container {
  width: 100%;
  margin: auto;



}

@media screen and (max-width: 600px) {

  embed{
    width: auto;
    height: auto;
    padding-bottom: 0;

  }
}

embed{
padding-bottom: 0;

}

.game {
  margin: 0;
}



#container {
  padding: .1em 1.5em 1em 1em;
}
#container output {
  clear: both;
  width: 100%;
}
#container output h3 {
  margin: 0;
}
#container output pre {
  margin: 0;
}
.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.prompt {
  white-space: nowrap;
  color: #3ed400;
  margin-right: 12px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
  text-align : left;
  }
.ls-files {
  height: 45px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  -o-column-width: 100px;
  column-width: 100px;
}

.hour, .min, .sec {
  stroke-width: 1px;
  fill: #333;
  stroke: #555;
}

.sec {
   stroke: #f55;

}

/* type writer effect starts here  */
/* need to configure this via media query  */

.typewrite {

  color:#fff;
  /*  padding-top:130px; =>  Comment out muna */
  font-size: 5vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .07em solid White; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .55s step-end infinite;




  }


.typewrite  { color:#fff; text-decoration: none; font-family: 'Quango',Lucida Console,Inconsolata, monospace; font-weight: bolder;}

h1 { font-family: 'Quango',Lucida Console,Inconsolata, monospace; font-weight: bolder;}




#sulat{
	text-align:center;
	/* font-size: 1.2vw; ==> remove muna to have it updated thanks to https://css-tricks.com/snippets/css/fluid-typography/ */
	font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-family: Quango;

	}


@font-face {
    font-family: 'White Rabbit';
    src: url('../font/WhiteRabbit.woff2') format('woff2'),
        url('../font/WhiteRabbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	letter-spacing: 4px;
}

@font-face {
    font-family: 'Quango';
    src: url('../font/Quango.woff2') format('woff2'),
        url('../font/Quango.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}


/*  .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;  */
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:#FFFFFF;}
}
